<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapperとxmlのマッピング -->
<mapper namespace="com.mentalapp.user_memo_list.mapper.MemoListMapper">

    <!-- マッピング定義(CbtBasics) -->
    <resultMap type="com.mentalapp.cbt_basic.entity.CbtBasics" id="cbtBasics">
        <id column="id" property="id"/>
        <result column="fact" property="fact"/>
        <result column="mind" property="mind"/>
        <result column="body" property="body"/>
        <result column="behavior" property="behavior"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <collection property="cbtBasicsNegativeFeels" resultMap="cbtBasicsNegativeFeel"/>
        <collection property="cbtBasicsPositiveFeels" resultMap="cbtBasicsPositiveFeel"/>
    </resultMap>

    <!-- マッピング定義(CbtBasicsNegativeFeel) -->
    <resultMap type="com.mentalapp.cbt_basic.entity.CbtBasicsNegativeFeel" id="cbtBasicsNegativeFeel">
        <id column="cbt_basic_id" property="cbtBasicId"/>
        <id column="negative_feel_id" property="negativeFeelingId"/>
        <association property="negativeFeel" javaType="com.mentalapp.common.entity.NegativeFeel">
            <id column="nf_id" property="id"/>
            <result column="negative_feel_name" property="negativeFeelName"/>
            <result column="nf_created_at" property="createdAt"/>
            <result column="nf_updated_at" property="updatedAt"/>
        </association>
    </resultMap>
    
    <!-- マッピング定義(CbtBasicsPositiveFeel) -->
    <resultMap type="com.mentalapp.cbt_basic.entity.CbtBasicsPositiveFeel" id="cbtBasicsPositiveFeel">
        <id column="cbt_basic_id" property="cbtBasicId"/>
        <id column="positive_feel_id" property="positiveFeelingId"/>
        <association property="positiveFeel" javaType="com.mentalapp.common.entity.PositiveFeel">
            <id column="pf_id" property="id"/>
            <result column="positive_feel_name" property="positiveFeelName"/>
            <result column="pf_created_at" property="createdAt"/>
            <result column="pf_updated_at" property="updatedAt"/>
        </association>
    </resultMap>

    <!-- ユーザーIDに基づいてCbtBasicsと関連する感情を取得 -->
    <select id="findCbtBasicsFeelsByUserId" resultMap="cbtBasics">
        SELECT
            cb.id,
            cb.fact,
            cb.mind,
            cb.body,
            cb.behavior,
            cb.created_at,
            cb.updated_at,
            cbnf.cbt_basic_id,
            cbnf.negative_feel_id,
            nf.id as nf_id,
            nf.negative_feel_name,
            nf.created_at as nf_created_at,
            nf.updated_at as nf_updated_at,
            cbpf.cbt_basic_id,
            cbpf.positive_feel_id,
            pf.id as pf_id,
            pf.positive_feel_name,
            pf.created_at as pf_created_at,
            pf.updated_at as pf_updated_at
        FROM
            cbt_basics cb
        LEFT OUTER JOIN
            cbt_basics_negative_feels cbnf ON cb.id = cbnf.cbt_basic_id
        LEFT OUTER JOIN
            negative_feels nf ON cbnf.negative_feel_id = nf.id
        LEFT OUTER JOIN
            cbt_basics_positive_feels cbpf ON cb.id = cbpf.cbt_basic_id
        LEFT OUTER JOIN
            positive_feels pf ON cbpf.positive_feel_id = pf.id
        WHERE
            cb.user_id = #{userId}
        ORDER BY
        cb.id, nf.id, pf.id
    </select>

</mapper>