<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mentalapp.user_memo_list.mapper.MemoListMapper">

    <!-- CbtBasicsのマッピング定義 -->
    <resultMap type="com.mentalapp.cbt_basic.entity.CbtBasics" id="cbtBasicsWithFeels">
        <id column="id" property="id"/>
        <collection property="negativeFeels" ofType="com.mentalapp.common.entity.NegativeFeel">
            <id column="nf_id" property="id"/>
            <result column="negative_feel_name" property="negativeFeelName"/>
        </collection>
        <collection property="positiveFeels" ofType="com.mentalapp.common.entity.PositiveFeel">
            <id column="pf_id" property="id"/>
            <result column="positive_feel_name" property="positiveFeelName"/>
        </collection>
    </resultMap>

    <!-- ユーザーIDに基づいてネガティブ/ポジティブ感情のリストを取得 -->
    <select id="createCbtBasicsObjectList" resultMap="cbtBasicsWithFeels">
        SELECT 
            cb.id, nf.id as nf_id, pf.id as pf_id, 
            nf.negative_feel_name, pf.positive_feel_name
        FROM 
            cbt_basics cb
        LEFT JOIN 
            cbt_basics_negative_feels cbnf ON cb.id = cbnf.cbt_basic_id
        LEFT JOIN 
            negative_feels nf ON cbnf.negative_feel_id = nf.id
        LEFT JOIN 
            cbt_basics_positive_feels cbpf ON cb.id = cbpf.cbt_basic_id
        LEFT JOIN 
            positive_feels pf ON cbpf.positive_feel_id = pf.id
        WHERE 
            cb.user_id = #{userId}
        ORDER BY 
            cb.id, nf.id, pf.id
    </select>
    
</mapper>