/***********************************************
ヘッダー
************************************************/
a{
  text-decoration: none;
  color: black;
}

.header{
  width: 1440px;
  height: 56px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
}

.header-main{
  height: 100%;
  display: flex;
}

.header-title{
  width: 280px;
  height: 100%;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.navbar{
  width: 168px;
  height: 100%;
  background-color: #aef5a3;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  cursor: pointer;
}

#navbar-items02{
  background-color: #f5f5f5;
}

#navbar-items03{
  background-color: #f5f5f5;
}

#navbar-items03:hover{
  background-color: #e5e5e5;
}

.header-user{
  height: 56px;
  display: flex;
}

.user-login{
  width: 104px;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.user-reg, .user-logout{
  width: 104px;
  height: 100%;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.navbar-memo{
  width: 166px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

#navbar-pulldown.navbar-memo{
  top: 56px;
  left: 280px;
  z-index:1;
  position: absolute;
}

#navbar-pulldown02.navbar-memo{
  position: absolute;
  top: 56px;
  left: calc(280px + 168px);
  z-index:1;
}

#navbar-pulldown03.navbar-memo{
  position: absolute;
  top: 56px;
  left: calc(280px + 168px * 2);
  z-index:1;
}


.pulldown-list{
  border-bottom: 1px solid #ccc; 
  padding:10px 0 10px 20px;
  list-style: none;
}

.pulldown-list:hover{
  background-color: #ecffe7;
  color:green;
}

.pulldown-list:last-child{
  border-bottom: none;
}

.hidden{
  display: none;
}

.isOpen{
  display: block;
}