<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>モニタリング詳細</title>
</head>
<body>
  <div layout:fragment="content">
    <div th:replace="~{common/_header :: header}"></div>
    <div th:replace="~{common/_header-margin :: header-margin}"></div>

    <div class="monitor-lists">
      <div class="monitor-list">
        <div class="monitor-list-upper">
          <div class="monitor-list__date" th:text="${#temporals.format(cbtBasic.createdAt, 'yyyy/MM/dd HH:mm')}"></div>
          <div class="monitor-list-more">
            <i class="fa-solid fa-chevron-down" style="color: #b9b9b9;"></i>
            <ul class="monitor-list-more__items">
              <a th:href="@{/cbt_basics/{id}/edit(id=${cbtBasic.id})}">
                <li><i class="fa-solid fa-pen" aria-hidden="true"></i> 編集</li>
              </a>
              <a th:href="@{/cbt_basics/{id}(id=${cbtBasic.id})}" data-turbo-method="delete">
                <li><i class="fa-regular fa-trash-can" aria-hidden="true"></i> 削除</li>
              </a>
            </ul>
          </div>
        </div>
        <div class="monitor-list-content">
          <div class="monitor-list-item">状況</div>
          <div class="monitor-list-text" th:text="${cbtBasic.fact}"></div>
        </div>
        <div class="monitor-list-content">
          <div class="monitor-list-item">感情</div>
          <div class="monitor-list-text">
            <span th:each="feel : ${cbtBasic.negativeFeels}" th:text="${feel.negativeFeelName + '　'}"></span>
            <br>
            <span th:each="feel : ${cbtBasic.positiveFeels}" th:text="${feel.positiveFeelName + '　'}"></span>
          </div>
        </div>
        <div class="monitor-list-content">
          <div class="monitor-list-item">思考</div>
          <div class="monitor-list-text" th:text="${cbtBasic.mind}"></div>
        </div>
        <div class="monitor-list-content">
          <div class="monitor-list-item">身体反応</div>
          <div class="monitor-list-text" th:text="${cbtBasic.body}"></div>
        </div>
        <div class="monitor-list-content">
          <div class="monitor-list-item">行動</div>
          <div class="monitor-list-text" th:text="${cbtBasic.behavior}"></div>
        </div>
        <div class="monitor-list-content" th:if="${cbtBasic.tags != null and not #lists.isEmpty(cbtBasic.tags)}">
          <div class="monitor-list-item" id="tag">タグ</div>
          <div class="monitor-list-tags">
            <div class="monitor-list-tag" th:each="tag : ${cbtBasic.tags}" th:text="${tag.tagName}"></div>
          </div>
        </div>
      </div>

      <a th:href="@{/memos}" class="monitor-show__btn">一覧にもどる</a>
    </div>
  </div>
</body>
</html>