<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <title>MentalApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Spring Security handles CSRF protection -->
    
    <link rel="stylesheet" th:href="@{/css/application.css}">
    <script th:src="@{/js/application.js}"></script>
    <script src="https://kit.fontawesome.com/744847be01.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <main layout:fragment="content">
      <!-- Content will be replaced by views -->
    </main>
  </body>
</html>
