<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>アカウント登録完了</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/shared/second_header.css}">
    <link rel="stylesheet" th:href="@{/css/shared/second_fotter.css}">
    <link rel="stylesheet" th:href="@{/css/user/registration.css}">
</head>
<body>

<div th:replace="~{common/_second-header :: second-header}"></div>

<div class="registration-main">
    <div class="form-wrap">
        <div class="form-header">
            <h1 class="form-header-text">
                アカウント登録完了
            </h1>
        </div>

        <div class="confirmation-message">
            <p>アカウント登録が完了しました。</p>
            <p>ログインしてご利用ください。</p>
        </div>

        <div class="confirmation-btn-wrap">
            <a th:href="@{/login}" class="confirmation-btn">ログインページへ</a>
        </div>
    </div>
</div>

<div th:replace="~{common/_second-footer :: second-footer}"></div>

</body>
</html>