<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mentalapp.cbt_basic.mapper.CbtBasicsNegativeFeelMapper">

    <!-- CbtBasicsIDによる取得 -->
    <select id="selectByCbtBasicId" resultType="CbtBasicsNegativeFeel">
        select * from cbt_basics_negative_feels
        where cbt_basic_id = #{cbtBasicId}
    </select>
    
    <!-- 登録 -->
    <insert id="insert">
        insert into cbt_basics_negative_feels(cbt_basic_id, negative_feel_id)
        values(#{cbtBasicId}, #{negativeFeelingId})
    </insert>
    
    <!-- CbtBasicsIDによる削除 -->
    <delete id="deleteByCbtBasicId">
        delete from cbt_basics_negative_feels
        where cbt_basic_id = #{cbtBasicId}
    </delete>
    
</mapper>