<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mentalapp.cbt_basic.dao.CbtBasicsNegativeFeelMapper">

    <!-- CbtBasicsIDによる取得 -->
    <select id="selectByCbtBasicId" resultType="CbtBasicsNegativeFeel">
        SELECT
        cbt_basic_id,
        negative_feel_id
        FROM cbt_basics_negative_feels
        WHERE cbt_basic_id = #{cbtBasicId}
    </select>

    <!-- 登録 -->
    <insert id="insert">
        INSERT INTO cbt_basics_negative_feels (
        cbt_basic_id, negative_feel_id
        ) VALUES (
        #{cbtBasicId}, #{negativeFeelingId}
        )
    </insert>

    <!-- CbtBasicsIDによる削除 -->
    <delete id="deleteByCbtBasicId">
        DELETE FROM cbt_basics_negative_feels
        WHERE cbt_basic_id = #{cbtBasicId}
    </delete>

</mapper>