<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/shared/second_header.css}">
    <link rel="stylesheet" th:href="@{/css/shared/second_fotter.css}">
    <link rel="stylesheet" th:href="@{/css/user/registration.css}">
    <link rel="stylesheet" th:href="@{/css/user/login.css}">
</head>
<body>

<div th:replace="~{common/_second-header :: second-header}"></div>

<form th:action="@{/authenticateTheUser}" method="POST" class="registration-main">
    <div class="form-wrap">
        <div class="form-header">
            <h1 class="form-header-text">
                ログイン
            </h1>
        </div>
        <div class="login-flash-message">
            <div th:if="${param.error}">
                ユーザー名またはパスワードが正しくありません。
            </div>
            <div th:if="${param.logout}">
                ログアウトしました。
            </div>
            <div th:if="${param.registered}">
                アカウント登録が完了しました。ログインしてください。
            </div>
        </div>
        <div class="form-group">
            <div class="form-text-wrap">
                <label class="form-text">ユーザー名</label>
            </div>
            <input type="text" name="username" class="input-default" id="email" placeholder=""
                   autofocus>
        </div>
        <div class="form-group">
            <div class="form-text-wrap">
                <label class="form-text">パスワード</label>
            </div>
            <input type="password" name="password" class="input-default" id="password" placeholder="">
        </div>
        <div class="login-btn">
            <button type="submit" class="login-green-btn">ログイン</button>
        </div>
    </div>
</form>

<div th:replace="~{common/_second-footer :: second-footer}"></div>

</body>
</html>
