<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mentalapp.common.dao.TagMapper">

    <resultMap id="TagResultMap" type="com.mentalapp.common.entity.Tag">
        <id column="id" property="id"/>
        <result column="tag_name" property="tagName"/>
        <result column="user_id" property="userId"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <select id="selectByPrimaryKey" resultMap="TagResultMap">
        SELECT * FROM tags WHERE id = #{id}
    </select>

    <select id="findByTagName" resultMap="TagResultMap">
        SELECT * FROM tags WHERE tag_name = #{tagName}
    </select>

    <select id="findByUserId" resultMap="TagResultMap">
        SELECT * FROM tags WHERE user_id = #{userId}
    </select>

    <select id="findByTagNameAndUserId" resultMap="TagResultMap">
        SELECT * FROM tags WHERE user_id = #{userId} and tag_name = #{tagName}
    </select>

    <select id="findAll" resultMap="TagResultMap">
        SELECT * FROM tags
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tags (tag_name, user_id, created_at, updated_at)
        VALUES (#{tagName}, #{userId}, current_timestamp, current_timestamp)
    </insert>

    <update id="updateByPrimaryKey">
        UPDATE tags
        SET tag_name = #{tagName},
        user_id = #{userId},
        updated_at = current_timestamp
        WHERE id = #{id}
    </update>

    <delete id="deleteByPrimaryKey">
        DELETE FROM tags WHERE id = #{id}
    </delete>

    <select id="findByMonitoringId" resultMap="TagResultMap">
        SELECT t.*
        FROM tags t
        JOIN ${tableName} rel ON t.id = rel.tag_id
        WHERE rel.${columnName} = #{monitoringId}
    </select>
</mapper>