<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mentalapp.common.dao.UserMapper">

    <!-- １件取得 -->
    <select id="selectByPrimaryKey" resultType="User">
        SELECT
        username,
        password,
        enabled,
        first_name,
        last_name,
        email
        FROM user
        WHERE username = #{userName}
    </select>

    <!-- 登録 -->
    <insert id="insert">
        INSERT INTO user (
        username, password, enabled, first_name, last_name, email
        ) VALUES (
        #{userName}, #{password}, #{enabled}, #{firstName}, #{lastName}, #{email}
        )
    </insert>

    <!-- 更新 -->
    <update id="updateByPrimaryKey">
        UPDATE user
        SET name = #{name}
        WHERE id = #{id}
    </update>

    <!-- 削除 -->
    <delete id="deleteByPrimaryKey">
        DELETE FROM user WHERE id = #{id}
    </delete>

</mapper>