<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>認知再構成法 - 編集ステップ2</title>
</head>
<body>
<div layout:fragment="content">
    <div th:replace="~{common/_header-margin :: header-margin}"></div>

    <div th:replace="~{cbt_cr/step2-form :: step2-form(url=@{/cbt_cr/{id}(id=${cbtCrForm.cbtCr.id})}, method='post', buttonText='更新する')}"></div>

    <div class="monitor-lists">
        <!--        <a th:href="@{/cbt_cr/{id}/edit(id=${cbtCrForm.cbtCr.id})}" class="monitor-show__btn">もどる</a>-->
        <!--        <a th:href="@{/cbt_cr/back}" class="monitor-show__btn">もどる</a>-->
        <a th:href="@{/cbt_cr/{id}/back(id=${cbtCrForm.cbtCr.id})}" class="monitor-show__btn">もどる</a>

    </div>
</div>
</body>
</html>