<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>認知再構成法 - ステップ2</title>
</head>
<body>
<div layout:fragment="content">
    <div th:replace="~{common/_header-margin :: header-margin}"></div>

    <div th:replace="~{cbt_cr/step2-form :: step2-form(url=@{/cbt_cr/regist}, method='post', buttonText='作成する')}"></div>

    <div class="monitor-lists">
        <a th:href="@{/cbt_cr/back}" class="monitor-show__btn">もどる</a>
    </div>
</div>
</body>
</html>