<div class="monitor-main" th:fragment="step2-form(url, method)">
  <form th:action="${url}" th:method="${method}" th:object="${monitoringForm}">
    <div class="monitor-contents">
      <div class="monitor-wrapper">
        <div class="item-circle"></div>
        <div class="monitor-item">思考のゆがみ</div>
      </div>
      <div class="monitor-info">次のような思考のゆがみに、がんじがらめになっていると感じるものはありますか？<br>
        もう一人の自分が観察するように、自分に語りかけてみてください。</div>
      <div class="monitor-info__dist">
        <div th:each="dist : ${distortionLists}">
          <label>
            <div class="checkbox" id="distortion">
              <input type="checkbox" th:field="*{distortionName}" th:value="${dist.id}" />
              <span class="green-diamond">◆ </span>
              <span th:text="${dist.distortionName}"></span><br>
              <span th:text="${dist.info}"></span>
            </div>
          </label>
        </div>
      </div>
    </div>
    
    <div class="monitor-contents">
      <div class="monitor-wrapper">
        <div class="item-circle"></div>
        <div class="monitor-item">思考のきっかけ</div>
      </div>
        <div class="monitor-info">考えが正しいと思う事実や根拠はありますか？</div>
      <textarea th:field="*{whyCorrect}" class="monitor-text" rows="5" maxlength="40000"></textarea>
    </div>

    <div class="monitor-contents">
      <div class="monitor-wrapper">
        <div class="item-circle"></div>
        <div class="monitor-item">思考を疑う</div>
      </div>
        <div class="monitor-info">
          考えが間違っていると思う事実や根拠はありますか？</div>
      <textarea th:field="*{whyDoubt}" class="monitor-text" rows="5" maxlength="40000"></textarea>
    </div>

    <div class="monitor-contents">
      <div class="monitor-wrapper">
        <div class="item-circle"></div>
        <div class="monitor-item">新しい考え方</div>
      </div>
        <div class="monitor-info"> ここまでを踏まえて、新しい考え方はできますか？</div>
      <textarea th:field="*{newThought}" class="monitor-text" rows="5" maxlength="40000"></textarea>
    </div>

    <div class="monitor-contents">
      <div class="monitor-wrapper">
        <div class="monitor-item"><span style="font-size: 18px;">タグ</span></div>
      </div>
      <input type="text" th:field="*{tagName}" class="tag-field" placeholder="タグをつける(スペース区切りで複数追加)" maxlength="50" />
    </div>

    <div class="monitor-btn-contents">
      <button type="submit" class="monitor-btn">作成する</button>
    </div>
  </form>
</div>