<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>自分でできる心理療法</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">

</head>
<body>
  <div layout:fragment="content">
    <div class="hero">
      <img th:src="@{/images/hero.jpg}" class="hero-image" />
      <div class="hero-info">
        <div class="hero-info__title">自分でできる心理療法</div>
        <div class="hero-info__message">
          認知行動療法による<br>
          ストレスとの上手なつきあい方
        </div>
      </div>
    </div>

    <div class="main">
      <div class="main-menu">
        <div class="main-menu__square"></div>
        <div class="main-menu__title">コース</div>
      </div>
      <div class="main-contents">
        <div class="main-contents-wrapper">
          <div class="main-item__circle"></div>
          <div class="main-contents__title">仕事上の悩み</div>
        </div>
        <div class="main-contents-info">
          <div class="main-contents__text">
            <ul>
              <li class="main-course-link"><a th:href="@{/work_care/content1}">仕事上の失敗や怒られた経験に対処する</a></li>
              <li>仕事に楽しさを見いだせない</li>
              <li>人間関係の問題</li>
              <li>部下の育成</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="main-menu">
        <div class="main-menu__square"></div>
        <div class="main-menu__title">エクササイズ</div>
      </div>
      <div class="main-contents">
        <div class="main-contents-wrapper">
          <div class="main-item__circle"></div>
          <div class="main-contents__title">モニタリング</div>
        </div>
        <div class="main-contents-info">
          <div class="main-contents__text">
          認知行動療法の基本モデルに沿って、ストレスを理解・観察するためのワーク
          </div>
          <a th:href="@{/cbt_basics/new}" class="main-contents__btn">エクササイズをする</a>
        </div>
        <div class="main-contents-wrapper">
          <div class="main-item__circle"></div>
          <div class="main-contents__title">認知再構成法</div>
        </div>
        <div class="main-contents-info">
          <div class="main-contents__text">
            自分を苦しめる思考を分析し、自分をつらくさせない考え方を作り出すためのワーク
          </div>
          <a th:href="@{/monitorings/new}" class="main-contents__btn">エクササイズをする</a>

          <!-- <a th:href="@{/monitorings/lists}" class="main-contents__btn">検索test</a> -->

        </div>
      </div>
    </div>
  </div>
</body>
</html>